<%- include('partials/header') %>   
    
    <!--i class="fas fa-key fa-6x"></i-->
    <!--img src="https://i.ibb.co/JCfpv9Y/Capture.png" class="center" alt="Capture" border="0"-->
    <div class="jumbotron centered">    
    
       <div class="container">     
        <img src="https://i.ibb.co/hZ2Y5Kr/Capture2.png" class="center img-responsive" alt="Capture" border="0">
    
        <hr class="center">
      <p class="lead" align="center">Secure your notes with end-to-end encryption!</p>
      <hr class="center">
      <!--
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      
    <hr class="center">
    <p class="lead" align="center">Or</p>
    -->
    <div class="col-sm-4 center">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> 

    </div>
    </div>
  

<%- include('partials/footer') %>
