<%- include("partials/header"); -%>
<img src="https://i.ibb.co/hZ2Y5Kr/Capture2.png" class="img-responsive" style="width:10%;min-width: 10px;" alt="Capture" border="0">


<h1 class="display-4"><%= title %></h1>
<p><%= content %></p>
<a class="btn btn-light btn-lg" href="/post" role="button">Back</a>

<%- include("partials/footer"); -%>