<%- include("partials/mainheader") -%>
<h1>About</h1>
<p><%= aboutContent %></p>


<br />
<br />
I was born and raised in a Christian home. Growing up I was a bit of a rebellious kid and I always had my way. One reason being I was the only child and I was pampered a lot. I neither attended Sunday school or church regularly but I had to go to a Christian school because my father insisted on it. Most of the foundation of my Faith was due to my school. They would start the day with prayer and praise. Teach us scriptures and even made us write scripture exams before we went ahead with academic exams. I went through all of it but to me it was just a religious ritual.My heart was not in it. I was always trying to find happiness in the world. So at the age of 16 years I was in a relationship with a guy and it went on for about 7 years. That relationship was everything to me. It was my definition of happiness and it became the reason for my existence. Against all odds I went ahead and married the guy expecting to finally find fulfillment in life. But barely within a year my marriage fell apart and I was suddenly left broken and empty. I had always been obsessed with the idea of marrying young but by the age of 24 it seemed to me that my world came crumbling down. I went into depression. I couldn't handle the inner pain and I just had no desire to live but had to barely pull myself through life each day as I feared a place called hell if only I tried to kill myself. I would want to sleep and never wake up another day. Going about another day was my greatest challenge. When I moved around it felt as though I was carrying a heavy load within me. On one of those days as I was pulling myself to work, during my commute I was reading a pack of scripture cards that my Dad had given me.I came across this particular scripture <br />
<br />
<b>Isaiah 54:6 The LORD will call you back as if you were a wife deserted and
distressed in spirit-- a wife who married young, only to be rejected," says your
God.</b>
<br />
<br />
I was taken aback when I read this. It almost seemed to me as though my story was written in the Bible. The question that came into my mind was "Who is this God and why is my story written in the Bible". This triggered in me a great desire to know about this God of the Bible so I decided to put aside my problem and devoted my time to reading scriptures. As I was reading and pondering scriptures there was a bit of struggle for me to believe on one thing mentioned about Jesus. I could accept His dying on the cross for my sins but when it came to His resurrection from the dead I struggled believing that incident was true. But I decided to resist that thought and made up my mind to trust every part of scriptures as the truth. The moment I took that decision to believe everything about Jesus mentioned in the Bible is true, I felt like something from within me leave and something so beautiful filled me and I felt so light and joyful all of a sudden. The heaviness I had experienced was not there anymore and I had realized that the fulfillment I was seeking elsewhere all my life was actually found in Jesus. Since then my life has never been the same. My perceptive of life has totally changed. I have an eternity to look forward to living with Jesus and my burning desire from then on has been to tell people about Jesus and His love. In times of uncertainty and fear He is the only Hope for mankind. He is the answer to every question that one has to deal with in this life.The scripture says all those who seek Him will find Him. It's a matter of whether we are willing to seek Him.
<br />
<br />
<b>Jeremiah 29:13 You will seek me and find me when you seek me with all your heart.</b><br />
In life whether we seem to have everything we want and yet feel that there is still something missing deep within or whether everything around us seems to be falling apart. Whatever be our inner struggle or our current situation, God is always present waiting for us to call on Him. Lets call on the Lord and find that missing element in our lives that we really don't understand what it truly is and wonder within ourselves may be this person or that person has it and try to imitate their life and later only realize that isn't what we really want. When we come to Jesus and experience that the emptiness within us is suddenly gone and we have truly found what we have been looking for all our lives we will leap for Joy and shout to others that this Jesus is for real. 
<br />
<br />
<b>Isaiah 55:6 Seek the LORD while he may be found; call on him while he is near. </b><br />
May the God of hope fill you with all joy and peace as you trust in Him.
<br />
<br />
God Bless!<br />
<br />

<%- include("partials/footer") -%>