<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
<input class="form-control" type="text" name="postTitle" placeholder="Title" autocomplete="off"></textarea>
<label>Post</label>
<textarea class="form-control" rows="5" cols="30" type="text" name="postText" placeholder="Write Here" autocomplete="off"></textarea>
</div>
<button type="submit" class="btn btn-primary" name="compose" value=<%= posts %>>Publish</button>

</form>
<%- include("partials/footer") -%>