<%- include("partials/mainheader") -%>
<h1>Contact</h1>

<p><%= contactContent %><a href="mailto:marychandinibernard@gmail.com">marychandinibernard@gmail.com</a></p>
<%- include("partials/footer") -%>