<%- include("partials/header") -%>
<h1>Post Your Question</h1>
<form class="" action="/question" method="post">
    <div class="form-group">
        <label>Question</label>
<textarea class="form-control" rows="5" cols="30" type="text" name="postQuestion" placeholder="Write Here" autocomplete="off"></textarea>
</div>
<button type="submit" class="btn btn-primary" name="question">Publish</button>

</form>
<%- include("partials/footer") -%>